@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:400,700&display=swap');

article h4 {
    margin-bottom: 0.1em;
}

article p {
    margin-top: .1em;
    margin-bottom: .00001em;
}

.resume ul {
    padding: 7%;
    overflow: hidden;

}
.resume li {
    list-style-type: none;
    white-space: nowrap;
}
.resume li i:before {
    margin-right: 5px;
}

article {
}
p {
    min-height: 1.5em;
}

.background {
    background-color: rgba(173, 216, 230, 0.3);
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, rgba(173, 216, 230, 0.1) 100px ), repeating-linear-gradient( lightblue, lightpink );
}

.resume {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    max-width: 21cm;
    align-items: stretch;
}

.resume h1,
.resume h2,
.resume h3,
.resume h4,
.resume h5,
.resume h6 {
    font-family: Roboto Slab, sans-serif;
}

.title-section, main {
    padding: 1%;
    width: 65%;
    box-sizing: border-box;
}

.personal-informations {

    display: flex;
    align-items : center;
    width: 35%;
}

.misc {
    padding: 1%;
    width: 35%;
    box-sizing: border-box;
}

.location {
    font-style: normal;
    color: red;
}

.print-only {
    display: none;
}


@media not print {
    @media (max-width: 768px) {
        .resume {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .title-section {
            width: auto;
            order: 1;
        }

        main {
            width: auto;
            order: 3;
        }

        .personal-informations {
            width: auto;
            order: 2;
        }

        .misc {
            width: auto;
            order: 4;
        }
    }
}

@media print {
    @page {
        size: A4;
        margin: 0;
    }
    body {
        width: 21cm;
        height: 29.7cm;
        margin: 0;
        padding: 0;
    }
    header {
        display: none;
    }

    .location {
        color: black;
    }

    .personal-informations, .misc {
        padding: 0;
    }

    .link {
        display: none;
    }
    .print-only {
        display: block;
    }
}